<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
	<listener>
		<listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>ConsultaEntradasDisponibles</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ReservaEntradas</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ConsultaEstadoReserva</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ConfirmacionReservaVentaEntradas</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AnulacionVentaEntradas</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>ConsultaEntradasDisponibles</servlet-name>
		<url-pattern>/consultaEntradasDisponibles</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReservaEntradas</servlet-name>
		<url-pattern>/reservaEntradas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaEstadoReserva</servlet-name>
		<url-pattern>/consultaEstadoReserva</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmacionReservaVentaEntradas</servlet-name>
		<url-pattern>/confirmacionReservaVentaEntradas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnulacionVentaEntradas</servlet-name>
		<url-pattern>/anulacionVentaEntradas</url-pattern>
	</servlet-mapping>
	
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
</web-app>